/*Grid guides: https://css-tricks.com/snippets/css/complete-guide-grid/*/

body {
    box-sizing: border-box;
    display: grid;
}

.rosado {
    background-color: pink;
    width: 1fr;
    height: 190px;
}

.verde {
    background-color: green;
    width: 1fr;
    height: 200px;
}

.azul {
    background-color: blue;
    width: 1fr;
    height: 90px;
}

.rojo {
    background-color: red;
}

.morado {
    background-color: purple;
}

.gris {
    background-color: gray;
    width: 1fr;
    height: 100px;
}

@media only screen and (min-width:501px) and (max-width:750px) {
    body {
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        ;
    }

    .rosado {
        grid-column: span 9;
        height: 30vw;
    }

    .verde,
    .azul,
    .rojo {
        grid-column: span 3;
        height: auto;
        border-bottom: 1px solid white;
        margin-left: 1px;
        margin-right: 1px;
        aspect-ratio: 1/1;
    }

    .morado {
        grid-column: span 5;
        height: auto;
        border-top: 1px solid white;
        margin-right: 1px;
        aspect-ratio: 1/1;

    }

    .gris {
        grid-column: span 4;
        height: auto;
        border-top: 1px solid white;
        margin-left: 1px;
    }
}

@media only screen and (min-width:751px) {
    
    body{
        grid-template-columns: auto auto auto
    }

    .rosado {
        grid-column: span 3;
        height: 60px;
    }

    .verde {
        grid-column: span 3;
        height: 150px;
    }

    .azul {
        grid-column: span 3;
        height: 300px;
    }

    .rojo, .morado, .gris{
        height: 170px;
    }

}