{% extends 'base.html' %}


{% block content %}

<h2>Editar mis datos</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="container">
                    {{ user_form.as_p }}
                </div>
            </div>
            <div class="col-6">
                <div class="container">
                    {{ proveedor_form.as_p }}
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Guardar cambios</button>
</form>

{% endblock %}