{% extends 'base.html' %}


{% block content %}


<h2>Ingresar los Datos del Laboratorio</h2>
<form method="POST" action="{% url 'actualizar-lab' lab.id %}">
    <table>
        <tr>
            <td>Nombre:</td>
            <td><input value="{{lab.nombre}}" type="text" placeholder="Ingrese el nombre del Laboratorio" name="nombre-lab"></td>
        </tr>
        <tr>
            <td>Ciudad:</td>
            <td><input value="{{lab.ciudad}}" type="text" placeholder="Ingrese la Ciudad del Laboratorio" name="ciudad-lab"></td>
        </tr>
        <tr>
            <td>País:</td>
            <td><input value="{{lab.pais}}" type="text" placeholder="Ingrese el País del Laboratorio" name="pais-lab"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;"><input type="submit" value="Enviar" class="btn btn-success">
            </td>
        </tr>
    </table>
</form>

<p>¿Información de los Laboratorios?</p>
<a href="#">Ir a la información de los Laboratorios --></a> <!--agregar link-->

{% endblock %}