<style>
    table {
        border: 1px solid black;
        /* Borde alrededor de la tabla */
        border-collapse: separate;
        /* Borde de celdas separado por defecto */
    }

    td,
    th {
        border: 1px solid black;
        /* Borde alrededor de cada celda */
    }
</style>

<h1>Productos</h1>

<table>
    <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>
            {{ producto.id }}
        </td>
        <td>
            {{ producto.nombre }}
        </td>
        <td>
            {{ producto.descripcion }}
        </td>
        <td>
            {{ producto.precio }}
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="agregar">Agregar producto</a>
</p>