body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #020024;
    /* Color de fondo oscuro por defecto */
    overflow: auto;
    /* Asegura que la página sea scrolleable */
    position: relative;
    /* Para posicionar elementos en relación con el body */
    color: #E0E0E0;
}

#base-bg {
    position: relative;
    z-index: 1;
    /* Asegura que el contenido esté por encima del fondo */
}

#gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Permite que el fondo sea "invisible" para clics */
    background: radial-gradient(circle, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 100%);
    opacity: 0;
    /* Por defecto es invisible */
    z-index: 0;
    /* Detrás del contenido */
    transition: opacity 0.3s ease;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}