body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #020024;
    color: #E0E0E0;
    overflow: auto;
    /*Asegura que la página sea scrolleable pero que no se salga del viewport*/
    position: relative;
    /*Posiciona elementos en relación con el body*/
    user-select: none;
    /*Desactiva la selección de texto*/
    /*Desactiva la selección de texto en navegadores*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-variation-settings:
        "ELGR" 1,
        "ELSH" 2;

}

#base-bg {
    position: relative;
    z-index: 1;
    /*Asegura que todo el contenido esté por encima del fondo*/
}

#gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /*Permite que el fondo sea "invisible" para clicks*/
    background: radial-gradient(circle, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 100%);
    opacity: 0;
    /*Por defecto es invisible*/
    z-index: 0;
    /*Detrás del contenido*/
    transition: opacity 0.3s ease;
}

/* CSS para que cada sección ocupe el espacio completo de la pantalla */
section {
    height: 100vh;
    /* Altura del 100% del viewport */
    display: flex;
    /* Flexbox para centrar el contenido */
    flex-direction: column;
    /* Alineamos los elementos hijos verticalmente */
    justify-content: center;
    /* Centramos verticalmente */
    align-items: center;
    /* Centramos horizontalmente */
    padding: 50px;
    /* Agrega algo de padding alrededor del contenido */
    box-sizing: border-box;
    /* Incluye el padding en el cálculo de altura */
}

.social-media>a>img {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(190deg);
    /* Cambia el color del icono */

}

.social-media>a>img:hover {
    filter: none;
}


h1,
h3,
p {
    margin: 10px 0;
    text-align: center;
    /* Margen vertical entre elementos */
}


h1{ /*linea bajo los títulos*/
    text-decoration: underline;
}

/*Color de los inputs*/
.custom-input{
    background-color: #A3D2CA;
    border-color: black;
}
.custom-input:focus{
    background-color: #A3D2CA;
    border-color: black;
}

/* Icono de flecha para desplegar/contraer */
.toggle-icon {
    display: inline-block;
    transition: transform 0.2s ease; /* Transición suave al rotar */
}

/* Clase para cuando el elemento está desplegado */
.open .toggle-icon {
    transform: rotate(90deg); /* Rota la flecha 90 grados */
}


#tech>ul{
    font-size: 25px;
    display: none;
}

footer {
    text-align: center;
    padding: 5px 0;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
}


@media screen and (min-width: 768px) { /*manejo de expeciones de tamaños*/
    .social-media>a>img {
        width: 80px;
        margin: 5px;
        flex-direction: row;
    }

    #about {
        margin: 200px;
    }
    p{
        font-size: 25px;
    }
}

@media screen and (max-width: 769px) { /*manejo de expeciones de tamaños*/
    .social-media>a>img {
        width: 12vw;
        margin: 10px;
        flex-direction: row;
    }
    p{
        font-size: 20px;
    }

}
